.nav {
  display: flex;
  gap: 5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
}
.button {
  background-color: cadetblue;
  padding: 20px;
  font-size: 20px;
  border-radius: 10px;
  & > span {
    color: #fff;
    text-transform: uppercase;
  }
}
